h1 {
    font-family: 'Gloria Hallelujah', cursive;
}
p {
    font-family: 'Source Sans Pro', sans-serif;
}
h2 {
    font-family: 'Truculenta', sans-serif;
}


/********** GOOGLE FONT ***********/
@import url('https://fonts.googleapis.com/css2?family=Truculenta&display=swap');