p b {
    border: 1px solid red;
}

span {
    background-color: pink;
}
p {
    border: solid green 1px;
}
div {
    background-color: lightgrey;
}
::selection {
    background-color: rgb(247, 128, 197);
}